*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Domine&family=EB+Garamond&family=Noto+Serif+TC&family=Potta+One&family=Texturina&family=Yusei+Magic&display=swap');

html{
	width: 100%
	height: 100%
	overflow-x: hidden;
	overflow-y: auto;
}

a{
	text-decoration: none; 
	color: #debfa7;
}


body{
	width: 100%;
	height: 76%;
	right: 0;
	background-color: #f6f5f3;
	font: 2.4vh/3.6vh;
}

nav{
	position: fixed;
	height: 100%;
	width: 24%;
	left: 0;
	background-color: gray;
	font-family: 'Potta One', cursive;
	font-size: 4.5vh;
	text-align: center;
}

div#container{
	position: fixed;
	height: 100%;
	width: 76%;
	right: 0;
	font-size: 2.4vh;
}

nav > div{
	padding: 15% 1vh;
}

nav > div:not(:first-child):hover{
	background-color:indianred
}

div.name{
	position:;
	right: 1vh;
	font-size: 6vh;
	font-family: 'Potta One, cursive;
}

article{
	margin-left: 3.6vh;
	font-family: 'Donime', serif;
	font-family: 'Noto Serif TC', serif;
	color: #1f7a8c;
}

h1 {
	padding: 2.4vh;
	color: #49494b;
	font-family: 'Texturina', serif;
	font-size: 7vh;
	margin-left: -7px;
	margin-top: -7px;
}

section.s2{
	background-color: #7979ad;
	width: 70vw;
	padding: 6vh;
	color: white;
}

h2 {
	padding: 3.6vh;
	color: #2e3830;
	font-family: Noto Serif TC, serif;
	margin-left: -3.6vh;
	font-size: 5vh;
}

h3 {
	padding: 3.6vh;
	color: #2e3830;
	font-family: Noto Serif TC, serif;
	margin-left: -3.6vh;
	font-size: 5vh;
}

section.s3{
	padding: 6vh;
	background-color: #94786c;
	width: 70vw;
	text-align: right;
	color: white;
}

h4 {
	padding: 3.6vh;
	color: #2e3830;
	font-family: Noto Serif TC, serif;
	margin-left: -3.6vh;
	font-size: 5vh;
}

section.s4 {
	padding: 6vh;
	background-color: #7e9c7e;
	width: 70vw;
	color: white;
}