@import url('https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro&display=swap');

body{
	background-color: rgb(188, 159, 207);
}

section{
	font-family: Lora, serif;
}

section{
	font-family: Noto Serif TC, serif;
}

h1 {
	color: yellow;
	font-family: Source Sans Pro, sans-serif;
}

h2 {
	color: orange;
	font-family: Noto Serif TC, serif;
}
