*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Crimson+Text&family=Josefin+Sans&family=Nanum+Gothic&family=Noto+Serif+TC&family=Playfair+Display+SC&display=swap');

html{
	width: 100%
	height: 100%
	overflow-x: hidden;
	overflow-y: auto;
}

a{
	color: #f7f796;
	margin: 0 20px;
	text-decoration: none;
}

body{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font: 2.4vh/3.6vh;
}

nav > a:hover{
	color:#ffc5aa
}

nav{
	position: absolute;
	height: 25%;
	width: 100%;
	padding-top: 3.6vh;
	top: 0;
	font-family: 'Playfair Display SC', serif;
	background-color: #1f2048;
	font-size: 4vh;
	text-align: center;
}

div#container{
	height: 100%;
	width: 100%;
	margin-top: 25%;
	font-size: 2.4vh;
	font-family: 'Josefin Sans', sans-serif;
}

div.name{
	color: white;
	font-size: 6vh;
	font-family: 'Playfair Display SC', serif;
}

article{
	height: 100vh;
	width: 95%;
	margin-left: 2.4vh;
	padding: 1vh 1vh;
	font-family: Lora, serif;
	font-family: 'Crimson Text', serif;
	color: #776a5d;
}

h1 {
	padding: 2.4vh;
	color: #07505f;
	font-family: 'Andika New Basic', sans-serif;
	font-size: 6vh;
	margin-top: -25vh;
	margin-left: -0.5vh;
}

p {
	margin-left: 2vh;
	font-family: 'Noto Serif TC', serif;
}