*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Crimson+Text&family=Josefin+Sans&family=Nanum+Gothic&family=Noto+Serif+TC&family=Playfair+Display+SC&display=swap');

html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

a{
	color: #f7f796;
	margin: 0 20px;
	text-decoration: none;
	font-weight: bold;
}

body{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font: 2.4vh/3.6vh;
}

nav > a:hover{
	color:#ffeee6
}

nav{
	position: relative;
	width: 100%;
	height: 22%;
	top: 0;
	font-family: 'Playfair Display SC', serif;
	background-color: #1f2048;
	font-size: 3.6vh;
	text-align: center;
}

div#container{
	position: absolute;
	height: 78%;
	width: 100%;
	right: 0;
	font-size: 2.4vh;
	font-family: 'Josefin Sans', sans-serif;
}

div.name{
	color: white;
	font-size: 6vh;
	font-family: 'Playfair Display SC', serif;
}

img.hard{
	opacity: 1;
	width: 90%;
	display: block;
	padding: 10px;
	margin: auto;
}

article{
	width: 100%;
	padding: 1vh 1vh;
	font-family: Lora, serif;
	font-family: 'Crimson Text', serif;
	color: #776a5d;
}

img.index ~ section {
	position: absolute;
    top: 18%;
    left: 24%;
	width: 50%;
	padding: 10px;
	font-size: 2vh;
	background-color: black;
	color: white;
}

img {
	position: relative;
	height: 20%;
	opacity: 0;
}

img.index {
	position: absolute;
	left: 0;
	height: 100%;
	padding: 0;
	opacity: 0.9;
}

h1 {
	padding: 2vh;
	color: #07505f;
	font-family: 'Andika New Basic', sans-serif;
	font-size: 4.8vh;
}

p {
	margin-left: 2vh;
	font-family: 'Noto Serif TC', serif;
}