*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Goldman:wght@700&family=Lora&family=Noto+Serif&display=swap');

html{
	width: 100%
	height: 100%
	overflow-x: hidden;
	overflow-y: auto;
}

a{
	color: #f7f796;
	margin: 0 20px;
}

body{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font: 2.4vh/3.6vh;
}

div#container{
	height: 100%;
	width: 100%;
	margin-top: 20%;
	font-size: 2.4vh;
	font-family: sans-serif;
}

div{
	padding: 1vh;
}

nav > div:not(:first-child):hover{
	background-color:indianred
}

nav{
	position: fixed;
	height: 25%;
	width: 100%;
	padding-top: 2.4vh;
	top: 0;
	background-color: #1f2048;
	color: white;
	font-family: Noto Serif TC, serif;
	font-size: 4.5vh;
	text-align: center;
}

div.name{
	font-size: 6vh;
	font-size: 'Source Sans Pro', sans-serif;
}

article{
	height: 100vh;
	width: 75%;
	margin-left: 5px;
	margin-top: -18px;
	padding: 15px 15px;
	font-family: Lora, serif;
	font-family: Noto Serif TC, serif;
	color: #776a5d;
}

h1 {
	padding: 2.4vh;
	color: #07505f;
	font-family: Pemanent Marker;
	font-size: 6vh;
	margin-top: -9vh;
	margin-left: -10px;
}

h2 {
	padding: 3.6vh;
	color: #a50349;
	font-family: Pemanent Marker;
	font-size: 3.6vh;
	margin-left: -15px;
}

h3 {
	padding: 3.6vh;
	color: #a50349;
	font-family: Pemanent Marker;
	font-size: 3.6vh;
	margin-left: -15px;
}

h4 {
	padding: 3.6vh;
	color: #a50349;
	font-family: Pemanent Marker;
	font-size: 3.6vh;
	margin-left: -15px;
}